.vscode/**/*
.gitignore
tests/**/*
.vscode-test/**
out/test/**
test/**
src/**
**/*.map
tsconfig.json
vsc-extension-quickstart.md
server/src/**
server/lib/**
server/*.json
server/node_modules/.bin/
webpack.config.js
node_modules/**
**/*.ts
**/tsconfig.json
